*{

    padding: 0;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* box-sizing: border-box; */
    font-family:'Courier New', Courier, monospace;
}

html, body{

    display: grid;
    height: 100%;
    place-items: center;
    background: #10101E;
    
}

.main{

    position: relative;
    height: 100px;
    width: 360px;
    /* background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(165, 230, 235),rgb(29, 32, 232)); */
    background-image: radial-gradient(circle at top left, rgb(33, 29, 75) 0%, rgb(33, 29, 75) 4%,rgb(29, 39, 97) 4%, rgb(29, 39, 97) 39%,rgb(24, 49, 120) 39%, rgb(24, 49, 120) 45%,rgb(20, 59, 142) 45%, rgb(20, 59, 142) 69%,rgb(15, 69, 164) 69%, rgb(15, 69, 164) 71%,rgb(11, 79, 186) 71%, rgb(11, 79, 186) 75%,rgb(6, 89, 209) 75%, rgb(6, 89, 209) 79%,rgb(2, 99, 231) 79%, rgb(2, 99, 231) 100%);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
    
}

.display{

    position: absolute;
    /* background-color: royalblue;
     */
    background: #10101E;
    height: 80px;
    width: 340px;
    margin: 10px;
    text-align: center;
    
}

#time
{
    position: absolute;
    font-size: 27px;
    /* line-height: 85px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    background-color: transparent;
    color: white;
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(38, 38, 153, 0.1)); 
       
}

@keyframes animate {

    100% {

        filter: hue-rotate(360deg);
    }
    
}





